<div class="bookmark" id="bookmark" style="display: none;">
</div>
<% @bookmarks.each do |bookmark| %>
  <div class="bookmark">
    <div class="bookmark-title">
      <%= bookmark.title %>
    </div>
    <div class="bookmark-url">
      <%= raw Rinku.auto_link(h(bookmark.bookmark_url), :all, 'target="_blank"') %>
    </div>
    <div class="hide-text">
      <div class="bookmark-text">
        <%= safe_join((raw Rinku.auto_link(h(bookmark.text), :all, 'target="_blank"')).split("\n"),tag(:br)) %>
      </div>
      <%= link_to '編集', edit_list_bookmark_path(bookmark.list_id, bookmark.id) %>
      <%= link_to '削除', list_bookmark_path(bookmark.list_id, bookmark.id), method: :DELETE, data: {confirm: '削除しますか？'}%>
    </div>
  </div>
<% end %>