<div class="wrapper">
  <div class="header">
    <%= render "shared/header" %>
  </div>
  <div class="lists-bookmarks">
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

    <div class="bm-field">
      <div class="new-bookmark">
        <div class="click-new">
          <%= form_with model: [@list_id, @bookmark], id: "bmf" do |f| %>
            <%= f.text_field :title, id: 'title', class: 'nb-title' %>
            <%= f.text_field :url, id: 'url', class: 'nb-url' %>
            <%= f.text_area :text, id: 'text', class: 'nb-memo' %>
          <% end %>
        </div>
      </div>

      <div class="bookmarks">
        <div class="bookmark">
          ブックマーク １
        </div>
        <div class="bookmark">
          ブックマーク ２
        </div>
        <div class="bookmark">
          ブックマーク ３
        </div>
      </div>
    </div>
  </div>
</div>